/* 
    Document   : myStyle
    Created on : 19.05.2013, 09:16:35
    Author     : Mihon
    Description:
        Purpose of the stylesheet follows.
*/

div#blockRigthOben{
    font-size: 14px;
    border-left-style: dashed;
    border-left-width: thin;
    padding-left: 16px;
    margin-left: 30px;
}

ul#blockRigthBlack{
    font-size: 18px;
    padding-top: 60px;
    padding-left: 10px;
}
ul#blockRigthBlack h3{
    padding-bottom: 15px;
}

div#blockRigthOben h4{
    color: orange;
}

blockquote.block{
font-family: "cambria", sans-serif;
font-weight: 400;
font-size: 19px;
line-height: 1.5em;
margin-left: 40px;
}

i.icon_right{
    padding-left: 8px;
}

p.no_li{
    line-height: 1.5em;
    font-size: 0.9em;
}